 .HomePage {
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
} 

.SearchBar {
    position: absolute;
    top: 55px;
}

.HomeElements {
    display: flex;
    justify-content: center;
}

.BgImage {
    max-width: 100%;
    height: auto;
    z-index: -1;
}