.SearchResults {
    padding : 30px 30px 0 30px;
    width: 100%-60px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.SearchBar {
    /* align-self: center; */
    border: 2px #343333;
    padding-bottom: 20px;
}

.Header {
    align-self: flex-start;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
}

.Container {
    display: flex;
}

.Filters {
    flex: 3;
    /* border-right: 1px solid #343333; */
}
.Filter {
    padding-right: 5px;
    border-bottom: 1px solid #bcbcbc
}

.Filter:last-of-type {
    border-bottom: none;
}

.FilterHeader {
    /* width: 100%; */
    padding: 10px 5px 15px 0;
    display: flex;
    justify-content: space-between;
}

.FilterName {
    font-size: 18px;
    font-weight: 500;
    /* align-self: flex-start; */
}

.ExpandIcon {
    /* display: flex; */
    /* align-self: flex-end; */
    width: 20px;
    height: 20px;
}

.FilterOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
}

.FilterOption {
    max-height: 40px;
    padding: 0 0 5px 0;
}

.FilterCheckbox {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 1px solid #333;
    border: 2px solid white;
    width: 14px;
    height: 14px;
}

.FilterCheckbox:checked {
    background: #333;
}

label {
    margin-left: 2px;
    font-size: 14px;
}

.Products {
    flex: 9;
    padding: 0 10px 0 70px;
    display: flex;
    flex-wrap: wrap;
}

